<h1>Add your cocktail</h1>
<div class="form">
<%= bootstrap_form_for(@cocktail, html: { multipart: true }) do |f| %>
  <% if @cocktail.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @cocktail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
      <% end %>
  <%= f.text_field :name, class:"form-control"%>
  <div>
    <%= f.file_field :picture %>
  </div>
  <%= f.submit class: "btn btn-success new"%>

<% end %>

</div>
