<h3>Mon cocktail</h3>

<div>
  <%= @cocktail.name %>
  <% @cocktail.doses.each do |dose| %>
  <%= dose.description%> - <%=dose.ingredient.name%>
  <%= link_to "Delete coquetail", cocktail_dose_path(@cocktail, dose), method: :delete, class:'fa fa-trash'%>
  <% end %>
</div>
<div><%= link_to "List cocktail", cocktails_path, class:'btn btn-success' %></div>
